<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjerciciosMoviles">

        <activity
            android:name="edu.ufg.mr100823.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.ufg.mr100823.ejercicio1.Ejercicio1Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio2.Ejercicio2Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio3.Ejercicio3Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio4.Ejercicio4Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio7.Ejercicio7Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio8.Ejercicio8Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio8_1.Ejercicio8_1Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio8_2.Ejercicio8_2Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio9.Ejercicio9Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio10.Ejercicio10Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio11.Ejercicio11Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio11.Programador11Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio12.Ejercicio12Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio12.WebViewActivity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio12_2.Ejercicio12_2Activity" android:exported="false" />
        <activity android:name="edu.ufg.mr100823.ejercicio12_3.Ejercicio12_3Activity" android:exported="false" />

        <!-- Registro del Parcial 1 -->
        <activity android:name="edu.ufg.mr100823.parcial1.Parcial1Activity" android:exported="false" />

    </application>

</manifest>